#useDynLib(Compositional, .registration = TRUE)

importFrom("graphics", "abline", "lines", "axis")
importFrom("lowmemtkmeans", tkmeans, nearest_cluster)
importFrom("Rfast", rowsums, cova, colMins, colMaxs, Dist, dista, Log)
importFrom("Rfast2", silhouette)
importFrom("stats", kmeans)
importFrom("factoextra", fviz_cluster)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
export(.onAttach)
